:root {
  --primary-navy: #002247;
  --primary-blue: #007BC3;
  --primary-gold: #E3B449;
}

$primary-navy: var(--primary-navy);
$primary-blue: var(--primary-blue);
$primary-gold: var(--primary-gold);
